name: Schedule Meetings
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

permissions:
  issues: write
  contents: read

jobs:
  meeting:
    runs-on: ubuntu-latest
    steps:
      - name: Technical Committee
        uses: 'pkgjs/meet@v0'
        with:
          issueTitle: '<%= date.toFormat("yyyy-MM-dd") %> Express TC Meeting'
          token: ${{ secrets.GITHUB_TOKEN }}
          orgs: expressjs,pillarjs,jshttp
          agendaLabel: 'tc agenda'
          meetingLabels: 'meeting'
          # https://github.com/expressjs/discussions/issues/195#issuecomment-1973732769
          # Starting on 2024-03-18 at 9pm UTC (2024-03-18T21:00:00.0Z) with a period of 2 weeks (P2W)
          schedules: '2024-03-18T21:00:00.0Z/P2W'
          createWithin: 'P1W'
          meetingLink: 'https://zoom-lfx.platform.linuxfoundation.org/meeting/95266714809?password=f37cff1b-cb3a-4a21-9425-210e4714c72e'
          issueTemplate: 'meeting.md'

      - name: Working Session
        uses: 'pkgjs/meet@v0'
        with:
          issueTitle: '<%= date.toFormat("yyyy-MM-dd") %> Express Working Session'
          token: ${{ secrets.GITHUB_TOKEN }}
          orgs: expressjs,pillarjs,jshttp
          agendaLabel: 'top priority'
          meetingLabels: 'meeting'
          # Converting the second time slot to a "working session"
          # https://github.com/expressjs/discussions/issues/195#issuecomment-1973732769
          # Starting on 2024-03-27 at 9pm UTC (2024-03-27T21:00:00.0Z) with a period of 2 weeks (P2W)
          schedules: '2024-03-27T21:00:00.0Z/P2W'
          createWithin: 'P1W'
          meetingLink: 'https://zoom-lfx.platform.linuxfoundation.org/meeting/95258037175?password=07aad89d-ff43-45df-9b28-f437e167a0b9'
          issueTemplate: 'meeting.md'
