name: Schedule Meetings
on:
  pull_request:
  push:
    branches:
      - master
  schedule:
    - cron: '0 0 * * *'
jobs:
  meeting:
    runs-on: ubuntu-latest
    steps:
      - name: Technical Committee
        uses: 'pkgjs/meet@v0'
        with:
          issueTitle: '<%= date.toFormat("yyyy-MM-dd") %> Express TC Meeting'
          token: ${{ secrets.GITHUB_TOKEN }}
          orgs: expressjs,pillarjs,jshttp
          agendaLabel: 'tc agenda'
          meetingLabels: 'meeting'
          # https://github.com/expressjs/discussions/issues/195#issuecomment-1973732769
          # Starting on 2024-03-18 at 8pm UTC (2024-03-18T21:00:00.0Z) with a period of 2 weeks (P2W)
          schedules: '2024-03-18T20:00:00.0Z/P2W'
          createWithin: 'P1W'
          issueTemplate: 'meeting.md'

      - name: Working Session
        uses: 'pkgjs/meet@v0'
        with:
          issueTitle: '<%= date.toFormat("yyyy-MM-dd") %> Express Working Session'
          token: ${{ secrets.GITHUB_TOKEN }}
          orgs: expressjs,pillarjs,jshttp
          agendaLabel: 'top priority'
          meetingLabels: 'meeting'
          # Converting the second time slot to a "working session"
          # https://github.com/expressjs/discussions/issues/195#issuecomment-1973732769
          # Starting on 2024-03-27 at 8pm UTC (2024-03-27T21:00:00.0Z) with a period of 2 weeks (P2W)
          schedules: '2024-03-27T20:00:00.0Z/P2W'
          createWithin: 'P1W'
          issueTemplate: 'meeting.md'
      - name: Triage Working Session
        uses: 'pkgjs/meet@61042a30f295179c24673776877615fa12a6c0bc' # v0.0.19'
        with:
            issueTitle: '<%= date.toFormat("yyyy-MM-dd") %> Express Triage Session'
            token: ${{ secrets.GITHUB_TOKEN }}
            orgs: expressjs,pillarjs,jshttp
            agendaLabel: 'triage-meeting'
            meetingLabels: 'meeting'
            # https://github.com/expressjs/discussions/issues/276#issuecomment-2399741373
            # Starting on 2024-10-28 at 7pm UTC (2024-10-28T19:00:00.0Z) with a period of 4 weeks (P4W)
            schedules: '2024-10-28T19:00:00.0Z/P4W'
            createWithin: 'P1W'
            issueTemplate: 'meeting-triage.md'
